<section class="blog-list mtb-40">
    <div class="container">
      <h1>Event List</h1>
      <div class="row">
          <div class="col-md-8">
            <div class="col-md-12">
                <div class="event-box">
                    <div class="row">
                    <div class="col-md-4">
                  <img src="assets/images/Music.png" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Music Event </h3>
                    <p>Are you ready to sing along with your loved ones <span></span></p><br>
                    <a href="/event/music" class="readmore">Read more...</a></div> </div>
            </div>
              </div>
              <div class="col-md-12">
                <div class="event-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/exhibition" alt="blog1">
                </div>
                <div class="col-md-8">
                  <h3>Exhibition</h3>
                  <p>Express your thoughts in Art Gallery <span></span></p><br>
                  <a href="/event/exhibition" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="event-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/wedding" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Ready to tie the bonds</h3>
                    <p>.Memories <span>create beautiful memories</span></p>
            <a href="/event/wedding" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="event-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/festival.png" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Festivals</h3>
                    <p>A festival for happy folks.Live, love, and enjoy.<span></span></p>
                    <a href="/event/festivals" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="event-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/images/concert" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Concert</h3>
                    <p>ready to slay the concert<span></span></p>
            <a href="/event/concerts" class="readmore">Read more...</a></div> </div>
                </div>
                  </div>
          </div>
          <div class="col-md-4">
            <app-featured-events></app-featured-events>
            <app-categories></app-categories>
          </div>
       
      </div>
    </div>
  </section>