<section class="event-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="event-left">
            <h1></h1>
            <div class="posted-on">
                <p>Are you ready to sing along with your loved ones<span></span> on <span>october 1, 2023</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/weddings.png" alt="event2">
            </div>
            <div class="blog-desc">
              <p>A wedding is a poignant celebration of love, unity, and commitment between two individuals embarking on a shared journey. This sacred union is marked by heartfelt vows, symbolizing the intertwining of two souls into a single, harmonious bond
 
               </p>
               <p> From the elegance of the ceremonial attire to the meticulously adorned venue, every detail reflects the couple's unique story and shared aspirations. Amidst the tender exchange of rings and heartfelt blessings, family and friends join in commemorating the couple's profound affection, marking the beginning of a new chapter.
                
            </p>
            
            <ul>
                <li>Venue Selection</li>
                <li>Celebrations</li>
                <li>Party</li>
            </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <app-featured-events></app-featured-events>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>

 
