<section class="event-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="event-left">
            <h1></h1>
            <div class="posted-on">
                <p>Are you ready to sing along with your loved ones<span></span> on <span>october 1, 2023</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/concerts.png" alt="event2">
            </div>
            <div class="blog-desc">
              <p>Concerts are electrifying spectacles that pulsate with the energy of music and the collective enthusiasm of a captivated audience. They serve as immersive experiences, transcending the ordinary to evoke a profound connection between performers and their admirers.
 
               </p>
               <p> Vibrant stage lighting, dynamic soundscapes, and pulsating rhythms create an ambiance of exhilaration and emotional resonance. The performers' fervent artistry and magnetic presence ignite a communal euphoria, fostering a sense of unity and shared passion among concert-goers
                
            </p> 
            <ul>
                <li>Artist Booking</li>
                <li>Venue Selection</li>
                <li>Ticketing</li>
                <li>Logistics</li>
            </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <app-featured-events></app-featured-events>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>
