<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Events</h4>
    <a href="/event/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/Music.png" alt="event1">
            </div>
            <div class="rb-box-desc">
                <h5>Music Event</h5>
                <p>Are you ready to sing along with your loved ones<span></span></p>
                <p>Posted On: october 1, 2023</p>
            </div>
        </div>
    </a>
    <a href="/event/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/exhibition" alt="event2">
            </div>
            <div class="rb-box-desc">
                <h5>Exhibition</h5>
                <p>Express your thoughts in Art Gallery<span></span></p>
                <p>Posted On: october 2, 2023</p>
            </div>
        </div>
    </a>
    <a href="/event/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/wedding" alt="event3">
            </div>
            <div class="rb-box-desc">
                <h5>Ready to tie the bonds</h5>
                <p>Memories create beautiful memories<span></span></p>
                <p>Posted On: october 1, 2023</p>
            </div>
        </div>
    </a>
    <a href="/event/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/festival.png" alt="event4">
            </div>
            <div class="rb-box-desc">
                <h5>Festivals</h5>
<p>A festival for happy folks.Live, love, and enjoy.<span></span></p>
                <p>Posted On: september 30, 2023</p>
            </div>
        </div>
    </a>
    <a href="/article/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/concert" alt="event5">
            </div>
            <div class="rb-box-desc">
                <h5>Concert</h5>
<p>ready to slay the concert<span></span></p>
                <p>Posted On: september 30, 2023</p>
            </div>
        </div>
    </a>
  </div>