<section class="event-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="event-left">
            <h1></h1>
            <div class="posted-on">
                <p>Are you ready to sing along with your loved ones<span></span> on <span>october 1, 2023</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/festival.png" alt="event2">
            </div>
            <div class="blog-desc">
              <p>Festivals are vibrant cultural celebrations that encapsulate the essence of tradition and community. They serve as conduits for fostering unity, joy, and spiritual renewal. Often marked by elaborate rituals and exuberant festivities, they embody a profound connection to history and heritage. 
               </p>
               <p> Rooted in a tapestry of religious beliefs, harvest cycles, or significant historical events, festivals echo the values of gratitude, devotion.
                </p>
             
            <ul>
                <li>Culture</li>
                <li>Tradiition</li>
                <li>Religious</li>
            </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <app-featured-events></app-featured-events>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>
